/* Default button styles */
.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition: all 0.3s;
  }
  
  /* Primary button */
  .btn-primary {
    background-color: rgba(230, 121, 32, 1);
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    width: 180px;
    height: 55px;
    border-radius: 8px;
    gap: 10px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    
  }
  
  .btn-primary:hover {
    background-color: rgb(99, 98, 96);
  }

  .btn-secondary {
    background-color: rgba(230, 121, 32, 1);
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: rgba(255, 255, 255, 1);
    width: 250px;
    height: 55px;
    border-radius: 8px;
    gap: 10px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    
  }
  
  /* .btn-secondary:hover {
    background-color: rgb(121, 80, 6);
  }
  
  /* Secondary button */
  /* .btn-secondary {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 18px;
    background-color: transparent;
    color: white;
    width: 422px;
    height: 55px;
    border-radius: 8px;
    gap: 10px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    border-color: rgba(230, 121, 32, 1) ;
  }
  
  .btn-secondary:hover {
    background-color: rgba(230, 121, 32, 1);
  } */ */

.btn-danger {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 18px;
    background-color: rgba(230, 121, 32, 1);
    color: white;
    width: 422px;
    height: 55px;
    border-radius: 8px;
    gap: 10px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    border-color: rgba(230, 121, 32, 1) ;
}
  
  .btn-danger:hover {
    background-color: rgb(99, 97, 96);
  } */
  
  /* Danger button */
  /* .btn-danger {
    background-color: #dc3545;
    color: white;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  } */
  
  /* Outline button */
 
  .btn-Outline {
    background-color: rgba(230, 121, 32, 1);
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: rgba(255, 255, 255, 1);
    width: 150px;
    height: 55px;
    border-radius: 8px;
    gap: 10px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    
  }
  