body {
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
}




/**********************FOOTER**********************************/
footer h1 {
   color: white;
   font-family: "Space Grotesk", sans-serif;
   font-weight: 500;
   font-size: 50px;
   position: relative;
   top: 20px;
}

footer h3 {
   color: rgba(255, 255, 255, 1);
   font-family: "Space Grotesk", sans-serif;
   font-weight: 500;
   font-size: 28px;
   line-height: 145%;
   letter-spacing: 0%;
   position: relative;
   top: 25px;
}

footer p {
  color: rgba(255, 255, 255, 1);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  position: relative;
  top: 35px;
}

.lower-footer {
   background-color: rgb(3, 1, 17);
   color: white;
   text-align: center;
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-size: 20px;
   padding: 15px;
}

#nav-btn {
   background-color: transparent;
   border: 2px solid rgba(230, 121, 32, 1); 
   width: 142px;
   height: 45px;
   font-family: "Space Grotesk", sans serif;
   color: rgba(255, 255, 255, 1);
   font-size: 18px;
   font-weight: 500;
}


/*********************END OF NAVBAR*************************************/

/*********************STARTING THE HEADER****************************************************/

.main-header {
   background-image: url(./assets/Images/header.webp);
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 100%;
}

.main-header-text h3 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 75px;
  color: rgba(255, 255, 255, 1);
  width: 825px;
}

.main-header-text p {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 28px;
  padding: 15px;
  width: 825px;
}

.main-header-text h3 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 75px;
  color: white;
  opacity: 0; /* Starts invisible */
  animation: dropIn 1s ease-out forwards;
}

/* Keyframes for text dropping from the top */
@keyframes dropIn {
  0% {
      transform: translateY(-100vh); /* Starts from top off-screen */
      opacity: 0;
  }
  100% {
      transform: translateY(0); /* Ends at the normal position */
      opacity: 1;
  }
}

/***********************END OF HEADER*************************************************************************/

/************************STARTING THE BODY***********************************************/

#sec1 {
  background-color: rgb(19, 32, 32);
  color: rgba(255, 255, 255, 1);
  height: 100vh;
}

#sec1 h1 {
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 65px;
  padding: 18px;
}

.sec1-text {
   position: relative;
   top: 125px;
}

.sec1-text h3 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 45px;
}

.sec1-text p {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 25px;
  padding: 10px;
}

.sec1 img {
  position: relative;
  right: 25rem;
}

#sec2 h3 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 55px;
  width: 570px;
}

#sec li {
  color: white;
   text-align: center;
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-size: 30px;
}

#new-sec {
   background-image: url(./assets/Images/works.webp);
   height: 100%;
   background-repeat: no-repeat;
}

#sec2 {
 position: relative;
 top: 65px;
 color: white;
}

/********************END OF BODY***************************************/

/*******************STARTING THE WELCOME PAGE*************************************************/

.welcome-page {
  background: linear-gradient(180deg, #BE591E -44.61%, #2C1F49 100%);
  background-repeat: no-repeat;
  opacity: 24;
  width: 600px;
  height: 810px;
  position: relative;
  top: 18px;
  left: 15px;
  border-radius: 72px;  
}

.welcome-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 964;
  height: 178;
  top: 212px;
  gap: 32px;
}

.welcome-title h1 {
  text-align: center;
  font-family: "Space Grotesk", sans serif;
  font-size: 55px;
  font-weight: 850px;
  color: rgba(255, 255, 255, 1);
  width: 660px;
  height: 120px;
}

.welcome-title p {
  color: rgba(255, 255, 255, 1);
  font-family: "Lato," sans serif;
  font-size: 25px;
  height: 23px;
  width: 560px;
}

/************************END OF WELCOME PAGE**********************************************************/

/************************************STARTING THE GET STARTED PAGE******************************************************************/

.tool-tip {
  background-color: rgba(26, 26, 26, 1);
  width: 620px;
  height: 810px;
  position: relative;
  top: 20px;
  left: 64px;
  border-radius: 72px;
}

.video-text h3 {
  font-family: "Space Grotesk", sans serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  line-height: 130%;
  letter-spacing: -4%;
}

.video-box iframe {
  width: 422px;
  height: 256px;
  border-radius: 5%;
  position: relative;
  left: 20%;
  top: 25px;
}

.text-video {
  width: 422px;
  height: 104px;
  gap: 15px;
  position: relative;
  top: 45px;
}

.tooltip-btn button {
  position: relative;
  background-color: rgba(230, 121, 32, 1);
  width: 422px;
  font-family: "Space Grotesk", sans serif;
  color: rgba(255, 255, 255, 1);
  height: 60px;
  left: 18px;
}

.tooltip-btn #btn2 {
  background-color: rgba(26, 26, 26, 1);
  border-color: rgba(230, 121, 32, 1);
  color: rgba(255, 255, 255);
  font-family: "Space Grotesk", sans serif;
}

#btn2:hover {
   background-color: rgba(230, 121, 32, 1);
}

#btn3:hover {
  background-color: #575350;
}

.img-logo {
  width: 600px;
  height: 59px;
  position: relative;
  top: 60px;
  left: 75px;
}

.video-text h3 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700px;
  font-size: 40px;
  line-height: 120%;
  position: relative;
  left: 75px;
  width: 450px;
}

.video-text p {
  width: 400px;
  height: 33px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 20px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  position: relative;
  left: 80px;
}

.video-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 422px;
  height: 512px;
  margin-top: 112px;
  left: 111px;
  gap: 32px;
  padding: 15px 15px;
}

.home-row {
  width: 1440px;
  padding: 1rem;
}
/***********************END GET STARTED PAGE**************************************************/

/************************************START SIGN UP PAGE****************************************/
.progress_container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  position: relative;
  color: white;
  left: 25%;
}

.progress_container::before {
  content: "";
  position: absolute;
  background-color: #ddd;
  height: 4px;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}
.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 10px;
  z-index: 1;
  transition: all 0.8s ease-in;
  display: flex;
}

.circle1 {
  background-color: rgba(230, 121, 32, 1);
  border: 1px dotted black;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  border-radius: 60%;
  z-index: 1;
}

.circle3 {
  background-color: rgba(230, 121, 32, 1);
  border: 1px dotted black;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  border-radius: 60%;
  z-index: 1;
}

.circle4 {
  background-color: rgba(230, 121, 32, 1);
  border: 1px dotted black;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  border-radius: 60%;
  z-index: 1;
}

.circle2 {
  background-color: rgba(190, 190, 190, 1);
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  border-radius: 60%;
  z-index: 1;
}

.signup-progress {
  background-color: rgba(26, 26, 26, 1);
  width: 600px;
  height: 810px;
  position: relative;
  top: 15px;
  left: 32px;
  border-radius: 72px;
  
}

.circle.active {
  border-color: var(--line-border-empty);
  color: rgba(190, 190, 190, 1);
}

.signup-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  bottom: 40px;
}

.signup-form h3 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 200%;
  letter-spacing: -4%;
  color: rgba(255, 255, 255, 1);
}

.signup-form p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 50%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

.form-text {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  width: 552px;
}

.form-text h3 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -4%;
  color: rgba(255, 255, 255, 1);
  position: relative;
  left: 72px;
}

.form-text p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  position: relative;
  left: 75px;
}

.logo {
  margin-left: 2rem;
}

.signup-form {
  height: 575px;
  top: 10px;
  gap: 2px;
}

.signup-form label {
  color: rgba(255, 255, 255, 1);
}

.signup-form input {
  background: transparent;
  border-color: rgba(126, 126, 126, 1);
  height: 56px;
}

 .usl {
   display: flex;
   flex-direction: row;
   border: 1px solid rgba(126, 126, 126, 1);
   border-radius: 7px;
}

.usl p {
  color: rgb(253, 252, 252);
  font-family: Space Grotesk;
  font-weight: 700;
  font-size: 18px;
  position: relative;
  top: 25px;
  left: 12px;
}

.usl img {
  position: relative;
  top: 13px;
  left: 7px;
}

#usl-input {
   position: relative;
   left: 78%;
   width: 17px;
   cursor: pointer;
}

.usl1 img {
  position: relative;
  top: 13px;
  left: 7px;
}

.usl1 input {
   position: relative;
   left: 64%;
   width: 19px;
   cursor: pointer;
}

.usl1 {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(126, 126, 126, 1);
  border-radius: 7px;
}

.usl1 p {
 color: rgb(253, 252, 252);
 font-family: Space Grotesk;
 font-weight: 700;
 font-size: 18px;
 position: relative;
 top: 22px;
 left: 12px;
}

.usl3 img {
  position: relative;
  top: 13px;
  left: 7px;
}

.usl3 input {
   position: relative;
   left: 63%;
   width: 19px;
   cursor: pointer;
}

.usl3 {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(126, 126, 126, 1);
  border-radius: 7px;
}

.usl3 p {
 color: rgb(253, 252, 252);
 font-family: Space Grotesk;
 font-weight: 700;
 font-size: 18px;
 position: relative;
 top: 22px;
 left: 12px;
}

.usl2 input {
  position: relative;
  left: 78%;
  width: 17px;
  cursor: pointer;
}

.usl1-radio {
   left: 150%;
}

.usl2 img {
  position: relative;
  top: 13px;
  left: 7px;
}

.usl2 {
 display: flex;
 flex-direction: row;
 border: 1px solid rgba(126, 126, 126, 1);
 border-radius: 7px;
}

.usl2 p {
color: rgb(253, 252, 252);
font-family: Space Grotesk;
font-weight: 700;
font-size: 18px;
position: relative;
top: 25px;
left: 12px;
}

.eye {
  width: 100%;
  display: flex;
  transform: translateX(45%);
  position: relative;
  top: 35px;
  align-self: center;
  color: rgb(160, 157, 157);
}

.signup-form button {
  background-color: rgba(230, 121, 32, 1);
  color: rgb(253, 252, 252);
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  height: 56px;
}

.signup-form button:hover{
   background-color: #5a5958;
   color: #ddd;
}

.signup-form .btn1 {
  background-color: transparent;
  color: rgb(253, 252, 252);
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  border-color: rgba(230, 121, 32, 1);
}

#signup::placeholder {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(152, 162, 179, 1);
}

.form-label {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: 20px;
}

.form-label1 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: rgba(255, 255, 255, 1);
  position: relative;
  bottom: 2px;
}

#asset {
  background-color: transparent;
}

#asset::placeholder {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color:#817f7f;
  position: relative;
}

#asset label {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  position: relative;
  right: 5px;
}

.asset-option {
  width: 422px;
  height: 56px;
  border-radius: 6px;
  border-width: 1px;
  padding: 16px;
  gap: 12px;
  
}

.asset-option {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700px;
  font-size: 14px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle; 
}

input[type="checkbox"]:checked {
  background: transparent; /* Green color when checked */
  border-color: rgba(230, 121, 32, 1);
}


input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 9px;
  width: 18px;
  height: 19px;
  background-color: rgba(230, 121, 32, 1); /* Inner circle */
  border: 1px dotted rgb(10, 10, 10);;
  z-index: 1;
}

#connect-wallet[type="checkbox"]:checked {
  background: transparent; /* Green color when checked */
  border-color: rgba(230, 121, 32, 1);
}


#connect-wallet[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 85px;
  width: 18px;
  height: 19px;
  background-color: rgba(230, 121, 32, 1); /* Inner circle */
  border: 1px dotted rgb(10, 10, 10);;
  z-index: 1;
}

/***********************END OF SIGN UP PAGE*********************************************************/

#select-plan-button {
  width: 310px;
  height: 59px;
  gap: 10px;
  border-radius: 10px;
  border-width: 1px;
  background-color: rgba(230, 121, 32, 1);
}

#select-plan-button span {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ddd;
}

#select-plan-button2 {
  width: 310px;
  height: 59px;
  gap: 10px;
  border-radius: 10px;
  border-width: 1px;
  background-color: rgba(155, 155, 155, 1);
}

#select-plan-button2 span {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ddd;
}

.profile-info {
  display: flex;
  justify-content: space-between;
  float: right;
  gap: 24px;
  position: relative;
  left: 65px;
  top: 28px;
}

.profile {
  display: flex;
  width: 235px;
  height: 40px;
  gap: 24px;
  position: relative;
  right: 65px;
  top: 28px;
}

.greeting {
  color: rgba(155, 155, 155, 1);
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.profile-name {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
}

.profile-list {
  color: rgba(255, 255, 255, 1);
  padding: 0;
  margin: 0;
  position: relative;
  right: 18px;
  top: 5px;
}

.profile-picture {
  background-color: rgba(230, 121, 32, 1);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  position: relative;
  bottom: 6px;
}

.price-plan {
  background: linear-gradient(
    0deg,
    rgba(44, 31, 73, 1) 3%,
    rgba(149, 94, 62, 1) 83%
  );
  width: 400px;
  height: 699px;
  border-radius: 24px;
  border-width: 1px;
  padding: 32px;
}

.price-plan2 {
  background: rgba(26, 26, 26, 1);
  width: 410px;
  height: 699px;
  border-radius: 24px;
  border-width: 1px;
  padding: 32px;
}

.price-plan4 {
  background: rgba(26, 26, 26, 1);
  width: 410px;
  height: 699px;
  border-radius: 24px;
  border-width: 1px;
  padding: 32px;
}

.price-plan3 {
  background: rgba(26, 26, 26, 1);
  width: 410px;
  height: 699px;
  border-radius: 24px;
  border-width: 1px;
  padding: 32px;
}

.plan-type {
  width: 246;
  height: 26;
  border-radius: 30px;
  border-width: 1px;
  gap: 10px;
  background-color: rgba(126, 126, 126, 1);
  color: rgb(255, 246, 246);
  text-align: center;
}

.plan-type span {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.benefits {
  width: 650px;
  list-style-type: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: 30px;
  column-gap: 5px;
}

.p1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  width: 246px;
  height: 35px;
  gap: 8px;
}

.p2 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  width: 246px;
  height: 35px;
  gap: 8px;
}

.p1 span {
  font-family: "Space Grotesk", sans-serif;
  font-size: 516x;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

.p2 span {
  font-family: "Space Grotesk", sans-serif;
  font-size: 516x;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

.p2 {
  width: 246px;
  height: 35px;
  gap: 8px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.benefit-list1 {
  color: green;
}

.price-btn {
  background-color: rgba(230, 121, 32, 1);
}

.hr-line {
  position: relative;
  left: 60px;
}

.payment-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 902px;
  height: 60px;
  position: relative;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: -4%;
  color: rgba(255, 255, 255, 1);
}
/*************END OF SELECT PLAN****************************************/

/*******************START DASHBOARD*************************************/

.dashboard-menu {
  width: 374px;
  height: 954px;
  background-color: rgba(36, 36, 36, 1);
 }

 #dashboard-btn:hover{
    background-color: #BE591E;
    color: #ddd;
 }

 .brand-logo {
  width: 199px;
  height: 59.22180938720703px;
  position: relative;
  top: 45px;
  left: 64px;

 }

 .dashboard {
  width: 350px;
  height: 56px;
  position: relative;
  top: 192px;
  gap: 10px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  padding-top: 16px;
  padding-right: 10px;
  padding-bottom: 22px;
  padding-left: 64px;
  background: rgba(230, 121, 32, 1);
 }

 .house {
   color: rgba(255, 255, 255, 1);
   width: 22px;
   height: 18px;
   position: relative;
   bottom: 12px;
 }

 .plans {
   color: rgba(126, 126, 126, 1);
   font-family: "Space Grotesk", sans-serif;
   font-weight: 500;
   font-size: 22px;
   line-height: 100%;
   letter-spacing: -4%;
   width: 276px;
   height: 24;
   position: relative;
   top: 35px;
   gap: 8px;
 }


 .dashboard-text {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 22px;
  position: relative;
  bottom: 10px;
 }

 .dashboard-header {
   display: flex;
   align-items: end;
   justify-content: space-between;
   position: relative;
   height: 40px;
   top: 45px;
  right: 48px;
 }

 .dashboard-title {
  width: 157px;
  height: 32px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -4%;
  color: rgba(255, 255, 255, 1);
 }

 .Profile {
  width: 283px;
  height: 40px;
  gap: 24px;
  display: flex;
  justify-content: space-between;
 }

 .upgrade-plan {
  width: 188px;
  height: 40px;
  position: relative;
  top: 170px;
  left: 830px;
  border-radius: 8px;
  border-width: 1px;
  gap: 4px;
  padding-top: 8px;
  padding-right: 32px;
  padding-bottom: 8px;
  padding-left: 32px;
  background: rgba(36, 36, 36, 1);
  border: 1px solid rgba(126, 126, 126, 1)
 }

 .upgrade-plan p {
  width: 96px;
  height: 22px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
  transform: translateY(-110%); 
  z-index: 1;
  position: relative;
  left: 20px;
 }

 .upgrade-plan img {
  width: 16.504114151000977px;
  height: 22.49248695373535px;
  top: 0.75px;
  left: 3.75px;
 }

 .component {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
  width: 454px;
  height: 335px;
  position: relative;
  top: 240px;
  left: 230px;
 }

 .component p {
  width: 470px;
  height: 32px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: -4%;
  color: rgba(255, 255, 255, 1);
 }

 .component img {
  width: 250px;
  height: 200px;  
 }

 .component button {
  width: 246px;
  height: 55px;
  border-radius: 8px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  background: rgba(230, 121, 32, 1);
  color: rgba(255, 255, 255, 1);
  position: relative;
  bottom: 25px;
 }

 .component button:hover {
   background-color: #5a5958;
   color: white;
 }

 /****************DASHBOARD WALLET FORM******************************************************/

 .signup-wallet-form {
  width: 422px;
  height: 577px;
  top: 260px;
  left: 290px;
  border-radius: 24px;
  border-width: 1px;
  padding: 32px;
 }

  #connect::placeholder {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
 }

 .wallet-form {
  width: 486px;
  height: 597px;
  position: relative;
  top: 80px;
  left: 220px;
  border-radius: 24px;
  border-color: rgba(126, 126, 126, 1);
  border: 1px solid;
  border-width: 5px;
  padding: 32px;
  background: rgba(26, 26, 26, 1);
 }


 .signup-wallet-form button {
  width: 360px;
  height: 52px;
  gap: 26px;
  background: rgba(230, 121, 32, 1);
  color: rgba(255, 255, 255, 1);
 }

 .next-wallet {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle; 
 }

 .connect-text h3 {
  width: 390px;
  height: 43px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -4%;
  color: rgba(255, 255, 255, 1);  
 }

 .connect-text p {
  font-family: "Lato", sans-serif;
  font-weight: 400k;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
 }

 .progress_container1 {
  width: 474px;
  height: 40px;
  top: 60px;
  gap: 8px;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  position: relative;
  color: white;
  left: 19%;
}

.progress_container1::before {
  content: "";
  position: absolute;
  background-color: #ddd;
  height: 2px;
  width: 100%;
  top: 30%;
  left: 0;
  z-index: 1;
  transform: translateY(-60%);
}

.circle5 {
  background-color: rgba(230, 121, 32, 1);
  border: 1px dotted black;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  z-index: 1;
}

.circle6 {
  background: rgba(190, 190, 190, 1);
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  border-radius: 60%;
  z-index: 1;
}

.wallet4 {
  background-color: rgba(230, 121, 32, 1);
  border-spacing: 15px;
  color: black;
  border: 2px dotted black;
  height: 12px;
  width: 12px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;
  left: 325px;
  transform: translateY(100%);
  border-radius: 60%;
  z-index: 5;
}

.wallet5 {
  border-spacing: 15px;
  color: rgba(126, 126, 126, 1);
  border: 1px solid;
  height: 12px;
  width: 12px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;
  left: 325px;
  transform: translateY(100%);
  border-radius: 60%;
  z-index: 1;
}

.asset-form {
  width: 486px;
  height: 337px;
  position: relative;
  top: 220px;
  left: 250px;
  border-radius: 24px;
  border-width: 1px;
  padding: 32px;
  background: rgba(26, 26, 26, 1);
  border: 1px solid rgba(126, 126, 126, 1);
}

#option {
  background: rgba(26, 26, 26, 1);
  color: rgba(126, 126, 126, 1);
}

.preferred-asset {
  width: 422px;
  height: 20px;
  font-family: Space Grotesk;
  font-weight: 500;
  font-size: 14px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
}

.asset-text {
  width: 422px;
  height: 74px;
  gap: 8px;
}

.asset-text h3 {
  width: 422px;
  height: 43px;
  font-family: Space Grotesk;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -4%;
  color: rgba(255, 255, 255, 1); 
}

.preferred-asset1 {
  width: 192px;
  height: 23px;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1); 
}

.asset label {
  width: 422px;
  height: 20px;
  font-family: Space Grotesk;
  font-weight: 500;
  font-size: 14px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1); 
}

.asset input {
  width: 422;
  height: 56;
  border-radius: 6px;
  gap: 12px;
  border-width: 1px;
  padding: 16px;
  border: 1px solid rgba(126, 126, 126, 1);  
  box-shadow: 0px 5px 3px -2px rgba(0, 0, 0, 0.02);
  box-shadow: 0px 3px 2px -2px rgba(0, 0, 0, 0.06);
}

#asset-btn {
  width: 422px;
  height: 55px;
  border-radius: 8px;
  gap: 10px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  background: rgba(230, 121, 32, 1);
  color:rgba(255, 255, 255, 1);
}

#asset-btn span {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

#asset::placeholder {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
   color: rgba(152, 162, 179, 1);
}

#asset {
   background: transparent;
}

#wallet1 {
  background: transparent;
}

#wallet1::placeholder{
   color: #888787;
   font-family: "Space Grotesk", sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 145%;
   letter-spacing: 0%;
   vertical-align: middle; 
}

#wallet2 {
  background: transparent;
}

#wallet2::placeholder{
   color: #888787;
   font-family: "Space Grotesk", sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 145%;
   letter-spacing: 0%;
   vertical-align: middle; 
}

.progress_container2 {
  width: 474px;
  height: 40px;
  position: relative;
  top: 120px;
  left: 256px;
  gap: 8px;
  display: flex;
  justify-content: space-between;
  color: #ddd;
}

.progress_container2::before {
  content: "";
  position: absolute;
  background-color: #ddd;
  height: 2px;
  width: 100%;
  top: 30%;
  left: 0;
  z-index: 1;
  transform: translateY(-60%);
}

/******************END DASHBOARD WALLET FORM*********************************************/

/*******************START BENEFICIARIES**************************************************/

.beneficiary-form {
  width: 486px;
  height: 495px;
  position: relative;
  top: 110px;
  left: 200px;
  border-radius: 24px;
  border-width: 1px;
  padding: 32px;
  background: rgba(26, 26, 26, 1);
  border: 1px solid rgba(126, 126, 126, 1)  
}

.add-more {
  width: 150px;
  height: 20px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
  float: right;
  justify-content: center;
  gap: 8px;
}

.trigger-form {
  width: 486px;
  height: 449px;
  position: relative;
  top: 180px;
  left: 290px;
  border-radius: 24px;
  border-width: 1px;
  padding: 32px;
  background: rgba(26, 26, 26, 1);
  border: 1px solid rgba(126, 126, 126, 1);
}

#trigger{
  background-color: transparent;
}

#trigger::placeholder {
   color: rgba(255, 255, 255, 1);
   font-family: "Space Grotesk", sans-serif;
}

#term {
  background-color: transparent;
  width: 422px;
  height: 56px;
  gap: 12px;
  border-radius: 6px;
  border-width: 1px;
  padding: 16px;
}

.trigger-option {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400px;
  font-size: 14px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

#date {
  background-color: transparent;
  width: 422px;
  height: 56px;
  gap: 12px;
  border-radius: 6px;
  border-width: 1px;
  padding: 16px;
}

.calendar {
   color: rgba(152, 162, 179, 1);
   transform: translateY(-250%);
   z-index: 1;
   position: relative;
   left: 7px;
}

#trigger2 {
   background-color: transparent;
}

#trigger2::placeholder {
   color: rgba(152, 162, 179, 1);
   position: relative;
   left: 10px;
   font-family: "Space Grotesk", sans-serif;
}

.circle5 {
  text-align: center;
  z-index: 1;
  padding-bottom: 5px;
}

.progress_container4 {
  width: 484px;
  height: 40px;
  position: relative;
  top: 80px;
  left: 206px;
  gap: 8px;
  display: flex;
  justify-content: space-between;
  color: #ddd;
}

.progress_container4::before {
  content: "";
  position: absolute;
  background-color: rgba(230, 121, 32, 1);
  height: 1px;
  width: 100%;
  top: 30%;
  left: 0;
  z-index: 1;
  transform: translateY(-60%);
}

/****************END BENEFICIARIES*****************************************************/

/************STARTING THE REVIEW FORM*************************************/
.review-form {
  width: 488px;
  height: 670px;
  position: relative;
  top: 90px;
  left: 169px;
  border-radius: 24px;
  border-width: 1px;
  border: 2px solid rgba(126, 126, 126, 1);
  padding: 32px;
  background: rgba(26, 26, 26, 1);
}

.wallet-address {
  width: 376px;
  height: 40px;
  gap: 10px;
  border-radius: 20px;
  padding: 10px;
  background-color: rgba(58, 58, 58, 1);
}

.progress_container3 {
  width: 484px;
  height: 40px;
  position: relative;
  top: 80px;
  left: 14%;
  gap: 8px;
  display: flex;
  justify-content: space-between;
  color: #ddd;
}

.progress_container3::before {
  content: "";
  position: absolute;
  background-color: rgba(230, 121, 32, 1);
  height: 1px;
  width: 100%;
  top: 30%;
  left: 0;
  transform: translateY(-10%);
}

.progress_container4 {
  width: 484px;
  height: 40px;
  position: relative;
  top: 80px;
  left: 296px;
  gap: 8px;
  display: flex;
  justify-content: space-between;
  color: #ddd;
}

.progress_container4::before {
  content: "";
  position: absolute;
  background-color: rgba(230, 121, 32, 1);
  height: 1px;
  width: 100%;
  top: 30%;
  left: 0;
  z-index: 1;
  transform: translateY(-60%);
}

.review-plan {
  width: 424px;
  height: 74px;
  gap: 8px; 
}

.review-plan h3 {
  width: 424px;
  height: 43px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: -4%;
  color: rgba(255, 255, 255, 1);
}

.review-plan p {
  font-family: "Lato" sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

.details {
  width: 424px;
  height: 64px;
}

.details p {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: 14px;
}

.details span {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
  position: relative;
  left: 3px;
}

.beneficiary {
  width: 424px;
  height: 196px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.beneficiary input {
  width: 376px;
  height: 30px;
  gap: 10px;
  border-radius: 20px;
  padding: 10px;
  background-color: rgba(58, 58, 58, 1);
  border-color: none;
  margin: 0;
}

.beneficiary p {
  width: 424px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: 30px;
}

.conditions {
  width: 424px;
  height: 64px;
  gap: 4px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
}

.conditions input {
  width: 201px;
  height: 30px;
  gap: 4px;
  background-color: rgba(58, 58, 58, 1);
  border-radius: 20px;
  color: #ddd;
  padding: 10px;
  background: transparent;
}

.conditions label {
  width: 424px;
  height: 20px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
}

#beneficiary-btn {
  width: 424px;
  height: 55px;
  gap: 26px;
  width: 424;
  position: relative;
  top: 95px;
  height: 55;
  gap: 10px;
  border-radius: 8px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  background: rgba(230, 121, 32, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "Space Grotesk", sans-serif;
}
/***************END REVIEW FORM**********************************/

/********************BEGIN PLAN PAGE**********************************************/
.plans-header {
  width: 150px;
  height: 24px;
  position: relative;
  top: 186px;
  right: 48px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -4%;
  color: rgba(255, 255, 255, 1);
}

.plans-overview {
  width: 307px;
  height: 227px;
  position: relative;
  top: 242px;
  right: 48px;
  gap: 10px;
  border-radius: 24px;
  padding: 24px;
  border-width: 1px;
  background: rgba(26, 26, 26, 1);
  border: 1px solid rgba(126, 126, 126, 1);
}

.plans-overview h3 {
  width: 259px;
  height: 46px;
  gap: 32px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
}

.beneficiary-num {
  width: 259px;
  height: 23px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

.plans-header p {
  width: 211px;
  height: 24px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: 186px;
  right: 20px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -4%;
}

.show-condition {
  width: 259px;
  height: 40px;
  position: relative;
  top: 10px;
  border-radius: 20px;
  padding: 10px;
  background: rgba(58, 58, 58, 1);
}

#view-more-plan {
  width: 159px;
  height: 22px;
  gap: 4px;
  position: relative;
  left: 7rem;
  top: 25px;
  border-bottom-width: 1px;
  padding-bottom: 2px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  text-decoration: underline;
}

#new-plan {
  width: 246px;
  height: 55px;
  position: relative;
  bottom: 55px;
  left: 772px;
  gap: 8px;
  border-radius: 8px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  background: rgba(230, 121, 32, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  vertical-align: middle;
}

.plan-arrow {
   position: relative;
   top: 5px;
}

.plans-header button {
  width: 286px;
  height: 55px;
  font-family: "Space Grotesk", sans-serif;
  position: relative;
  top: 170px;
  left: 45px;
  gap: 8px;
  border-radius: 8px;
  padding-top: 14px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  background-color: rgba(230, 121, 32, 1);
  color: rgba(255, 255, 255, 1);
}

.added-beneficiaries {
  width: 307px;
  height: 227px;
  position: relative;
  top: 242px;
  right: 20px;
  gap: 10px;
  border-radius: 24px;
  border-width: 1px;
  padding: 24px;
  background: rgba(26, 26, 26, 1);
  border: 1px solid rgba(126, 126, 126, 1);
}

.added-details {
  width: 259px;
  height: 179px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 1);
}

.added-details input {
  width: 259px;
  height: 40px;
  gap: 7px;
  border-radius: 20px;
  padding: 10px;
  background: rgba(58, 58, 58, 1);
  color: rgba(255, 255, 255, 1);
}

.added-details h3 {
  font-family: "Space Grotesk", sans-serif;
}

.added-details span {
  height: 20px;  
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0%;
  position: relative;
  left: 145px;
  text-decoration: underline;
}

.added-details p {
  width: 259px;
  height: 23px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1); 
}

/**************************END OF PLAN PAGE*************************************************/

/***********************START CONNECT WALLET FORM********************************************/

.signup-wallet-form {
  width: 422px;
  height: 577px;
  top: 260px;
  left: 290px;
  border-radius: 24px;
  border-width: 1px;
  padding: 32px;
 }

  #connect::placeholder {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
 }

 .wallet-form {
  width: 486px;
  height: 597px;
  position: relative;
  top: 80px;
  left: 220px;
  border-radius: 24px;
  border-color: rgba(126, 126, 126, 1);
  border: 1px solid;
  border-width: 5px;
  padding: 32px;
  background: rgba(26, 26, 26, 1);
 }


 .signup-wallet-form button {
  width: 360px;
  height: 52px;
  gap: 26px;
  background: rgba(230, 121, 32, 1);
  color: rgba(255, 255, 255, 1);
 }

 .next-wallet {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle; 
 }

 .connect-text h3 {
  width: 390px;
  height: 43px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -4%;
  color: rgba(255, 255, 255, 1);  
 }

 .connect-text p {
  font-family: "Lato", sans-serif;
  font-weight: 400k;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
 }

 .wallet1 {
  background-color: rgba(230, 121, 32, 1);
  border-spacing: 15px;
  color: black;
  border: 2px dotted black;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  border-radius: 60%;
  z-index: 1;
}

input[type="checkbox"]:checked {
  background: transparent; /* Green color when checked */
  border-color: rgba(230, 121, 32, 1);
}


input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 19px;
  width: 18px;
  height: 19px;
  background-color: rgba(230, 121, 32, 1); /* Inner circle */
  border: 1px dotted rgb(10, 10, 10);;
  z-index: 1;
}

#connect-wallet[type="checkbox"]:checked {
  background: transparent; /* Green color when checked */
  border-color: rgba(230, 121, 32, 1);
}


#connect-wallet[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 10px;
  width: 18px;
  height: 19px;
  background-color: rgba(230, 121, 32, 1); /* Inner circle */
  border: 1px dotted rgb(10, 10, 10);;
  z-index: 1;
}

#asset1 {
  background-color: transparent;
}

#asset1::placeholder {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color:#ddd;
  position: relative;
  left: 30px;
}

#asset1 label {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  position: relative;
  right: 5px;
}

.asset-option {
  width: 422px;
  height: 56px;
  border-radius: 6px;
  border-width: 1px;
  padding: 16px;
  gap: 12px;
  
}

.asset-option {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700px;
  font-size: 14px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle; 
}

.usl4 {
  width: 352px;
  height: 62px;
  border-radius: 6px;
  gap: 10px;
  border-width: 1px;
  padding: 16px;
  display: flex;
  border: 1px solid rgba(126, 126, 126, 1);
}

.usl4 input {
  width: 18px;
  height: 40px;
  position: relative;
  left: 52%;
  bottom: 5px;
}

.usl4 p {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
  position: relative;
  right: 5px;
  top: 5px;
}

.usl5 {
  width: 422px;
  height: 56px;
  border-radius: 6px;
  border-width: 1px;
  padding: 16px;
  gap: 10px;
  border: 1px solid rgba(126, 126, 126, 1);
}

.usl5 input {
  width: 18px;
  height: 40px;
  position: relative;
  left: 70%;
}

.usl5 p {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
  position: relative;
  right: 5px;
  top: 5px;
}

.usl6 {
  width: 352px;
  height: 62px;
  border-radius: 6px;
  gap: 10px;
  border-width: 1px;
  padding: 16px;
  display: flex;
  border: 1px solid rgba(126, 126, 126, 1);
}

.usl6 input {
  width: 18px;
  height: 40px;
  position: relative;
  left: 54%;
  bottom: 5px;
}

.usl6 p {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
  position: relative;
  right: 5px;
  top: 5px;
}

#asset4 {
  background-color: transparent;
}

#asset4::placeholder {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color:#ddd;
  position: relative;
  left: 10px;
}


#asset-cta:hover {
   background-color: #833508;
   color: #ddd;
}

.wallet1 {
  display: flex;
  transform: translateX(2600%);
  position: relative;
  top: 35px;
  align-self: center;
  z-index: 100;
}


.coti {
  transform: translateX(80%);
  margin-left: 7px;
  padding: 5px;
  position: relative;
  bottom: 42px;
  align-self: center;
  z-index: 1;
}

.meta {
  transform: translateX(80%);
  margin-left: 7px;
  padding: 5px;
  position: relative;
  bottom: 42px;
  align-self: center;
  z-index: 1;
}

.trust {
  transform: translateX(80%);
  margin-left: 7px;
  padding: 5px;
  position: relative;
  bottom: 42px;
  align-self: center;
  z-index: 1;
}

.wallet2 {
  border-spacing: 15px;
  color: #6e6d6d;
  border: 3px solid;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  border-radius: 60%;
  z-index: 1;
}



.wallet2 {
  display: flex;
  transform: translateX(2600%);
  position: relative;
  top: 35px;
  align-self: center;
  z-index: 1;
}

.wallet3 {
  width: 100%;
  display: flex;
  transform: translateX(45%);
  color: #6e6d6d;
  position: relative;
  top: 35px;
  align-self: center;
  z-index: 1;
}

#options::placeholder {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
  position: relative;
  left: 28px;
}

#option2::placeholder {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
}
/********************END OF CONNECT WALLET 2***********************************************************/

/**********************STARTING THE LANDING PAGE*************************************************************/

.top-header {
  background-image: url('./assets/images/header.webp');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.header-details {
  width: 100%;
  position: relative;
  top: 12rem;
  gap: 45px;
  display: flex;
  flex-direction: column;
}

.header-details h1 {
  width: 700px;
 height: 123px;
 font-family: "Space Grotesk", sans-serif;
 font-weight:bolder;
 font-size: 65px;
 line-height: 100%;
 letter-spacing: 0%;
 color: rgba(255, 255, 255, 1);
}

.header-details p {
width: 750px;
height: 13px;
font-family: "Lato", sans-serif;
font-weight:500;
font-size: 25px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(255, 255, 255, 1);
padding: 15px;
position: relative;
}

.second-header {
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-weight:500;
  font-size: 75px;
  line-height: 100px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  position: relative;
  line-height: 250px;
}

.second-header2 h3 {
 font-family: "Space Grotesk", sans-serif;
 font-weight:500;
 font-size: 45px;
 color: rgba(255, 255, 255, 1);
 position: relative;

}

.second-header2 p {
 font-family: "Lato", sans-serif;
 font-weight: 300;
 font-size: 25px;
 position: relative;
 top: "10px";
 color: rgba(255, 255, 255, 1);
}

.header-details button {
   background-color:  rgba(230, 121, 32, 1);
   width: 280px;
   height: 60px;
   color: rgba(255, 255, 255, 1);
   font-family: "Space Grotesk", sans-serif;
   font-weight:500;
   font-size: 22px;
   position: relative;
   top: 20px;
}

#get-started {
 text-decoration: none;
}

#get-started:hover {
 text-decoration: none;
 background-color: #BE591E;
}

#section3 {
  position: relative;
  top: 85px;
  color: rgba(255, 255, 255, 1);
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 25px;
}

#section3 img {
  position: relative;
  right: 15rem;
  bottom: 5rem;
}

#section3 h3 {
 position: relative;
 font-family: "Space Grotesk", sans-serif;
 font-weight:500;
 font-size: 35px;
 width: 680px;
}

#section3 p {
   width: 700px;
}

.image-container {
 overflow: hidden; /* Hides the image before it slides in */
 width: 80%; /* Adjust the container width as needed */
}

/* The sliding image */
.slide-image {
 width: 100%;
 transform: translateX(-100%); 
 animation: slideIn 1s forwards; 
}

/* Keyframes for the sliding animation */
@keyframes slideIn {
 0% {
     transform: translateX(-100%); 
 }
 100% {
     transform: translateX(0); 
 }
}

.section4 {
  background-image: url('./assets/images/works.webp');
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.section4 h3 {
 font-family: "Space Grotesk", sans-serif;
 font-size: 60px;
 font-weight:500;
 color: rgba(255, 255, 255, 1);
 line-height: 75px;
}

.section4 li {
 font-size: 25px;
 font-weight:500;
 color: rgba(255, 255, 255, 1);
 font-family: "Lato", sans-serif;
 line-height: 40px;
 position: relative;  
}

#section4-row {
  position: relative;
  top: 105px;
}

#section4-btn {
  background-color:  rgba(230, 121, 32, 1);
  font-family: "Space Grotesk", sans-serif;
  font-size: 22px;
  font-weight: 500;
  width: 280px;
  height: 65px;
  position: relative;
  top: 15px;
}

#section5 {
 color: rgba(255, 255, 255, 1);
 position: relative;
 top: 5rem;
}

#section5 h3 {
 font-family: "Space Grotesk", sans-serif;
 font-size: 32px;
 font-weight: 500;
}

#section5 p {
 font-family: "Lato", sans-serif;
 font-size: 20px;
 font-weight: 500;
 line-height: 38px;
}

.section5-h1 {
 font-family: "Space Grotesk", sans-serif;
 font-size: 48px;
 font-weight: 500;
 color: rgba(255, 255, 255, 1);
 text-align: center;
 position: relative;
 top: 18px;
}

.footer-name {
  background-color: rgb(32, 32, 34);
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
 font-weight: 400;
 font-family: "Lato", sans-serif;
 height: 68px;
 position: relative;
}

.footer-name p {
 font-family: "Lato", sans-serif;
 position: relative;
 top: 25px;
}

.animated-text {
 font-size: 3rem;
 font-weight: bold;
 color: #333;
 opacity: 0; /* Starts invisible */
 animation: dropIn 1s ease-out forwards;
}